@font-face {
    font-family: 'montserratMed';
    src: url('fonts/Montserrat-Medium.otf') format('opentype');
}
@font-face {
    font-family: 'montserratThin';
    src: url('fonts/MontserratAlternates-Thin.otf') format('opentype');
}
@font-face {
    font-family: 'montserratBold';
    src: url('fonts/MontserratAlternates-Bold.otf') format('opentype');
}


body {
    background-color: #d6cfcb;
    font-family: montserratThin;
}

.container {
    text-align: center;
    margin: 0 auto;
    font-family: montserratMed;
}

li {
    font-family: montserratBold;
}

.organizacao {
    font-size: 30px;
}

.softSkills {
    font-size: 25px;
}

.determinacao {
    font-size: 20px;
}

