@font-face {
    font-family: 'montserratMed';
    src: url('fonts/Montserrat-Medium.otf') format('opentype');
}
@font-face {
    font-family: 'montserratThin';
    src: url('fonts/MontserratAlternates-Thin.otf') format('opentype');
}
@font-face {
    font-family: 'montserratBold';
    src: url('fonts/MontserratAlternates-Bold.otf') format('opentype');
}


body {
    background-color: #d6cfcb;
    font-family: montserratThin;
}

#meuNome {
    text-align: center;
}

#minhaFoto {
    float: left;
    border-radius: 50px;
    padding: 15px;
    background-color: #706677;
    margin: auto 25px;
    
}

#container-descricao {
    height: 430px;
    color: black;
}


div {
    border: 2px solid green;
}

li {
    font-family: montserratBold;
}

.organizacao {
    font-size: 30px;
}

.softSkills {
    font-size: 25px;
}

.determinacao {
    font-size: 20px;
}

